.innerWrapper{
    padding: 9px 3px 9px 3px;
    margin-left:10px;
    text-align: center;
}
.errorText{
    margin: 0px 0px 5px 5px;
    font-weight: bold;
    font-size: 12;
   color:white;
}
.mainWrapper{
    /*background: #e24242; - Red*/
    /*background: #f89509; - Orange*/
    background: #f89509;
    border-radius: 5px; 
    box-shadow: 1px 1px 1px #382929; 
}
.changesSummaryLinkWrapper{
    margin-left: 40px
}