.THIS .width {
    width: 100%;
}
.THIS .brbasis {
    width: 240px;
}
.THIS .gbasis {
    width: 300px;
}
.THIS .planyr {
    width: 190px;
}
.THIS .yr {
    width: 50px;
}
.THIS .plan {
    width: 100px;
}
.THIS .slds-spinner_container  {
    background-color: white;
    height:25%;
    width:30%;
    top:50%;
    left:50%;
}