.THIS .width {
    width: 80%;
}
.THIS .checkbox
{
 zoom: 100%;   
}
.THIS .year
{
 width: 30px;   
}
.THIS .lob
{
 width: 30px;   
}
.THIS .basis
{
 width: 50px;   
}
.THIS .plandesign
{
 width: 60px;   
}
.THIS .gstp
{
 width: 40px;   
}
.THIS .nonspecialty
{
 width: 110px;   
}
.THIS .specialty
{
 width: 80px;   
}